.achievement-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0, 0, 0, 0.7);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
}

.achievement-modal-container {
  background-color: white;
  padding: 20px;
  width: 400px;
  border-radius: 10px;
  text-align: center;
}

.achievement-box {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  margin-top: 20px;
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.achievement-image {
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
  width: 100px;
  height: 100px;
  margin-right: 25px;
}

.achievement-text {
  text-align: center;
}

.achievement-close-button {
  margin-top: 20px;
  padding: 10px 20px;
  background-color: #f44336;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
  box-shadow: 1px 3px 5px rgba(0, 0, 0, 0.5);
}

.achievement-close-button:hover {
  background-color: #d32f2f;
}
