#footer-container {
  background-color: transparent;
  min-height: 7.5vh;
  width: 100%;
  align-items: center;
  display: grid;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-top: 1px solid #3b56a1;
  color: #202b8a;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: auto;
}
#footer-container * {
  margin-bottom: 0;
}

#footer-wrapper {
  width: 100vw;
}

#footer-container a {
  display: flex;
  align-items: center;
  text-indent: 5px;
  text-decoration: none;
  color: #202b8a;
  text-align: center;
}

#footer-links-wrapper {
  grid-column: 2;
  display: flex;
  justify-content: end;
}
#footer-links-wrapper a {
  margin: 1rem;
  text-indent: 3px;
}

#footer-container a:hover {
  color: #ff9033;
}
@media (max-width: 700px) {
  #footer-links-wrapper {
    flex-direction: column;
    align-items: end;
    justify-content: flex-start;
  }
  #footer-links-wrapper a {
    margin: 10px;
  }
}
