h1 {
  font-size: 60px;
  color: #e5e5e5;
}

.text-center h1 {
  padding-bottom: 10px;
}
.text-center h1:hover {
  background-image: linear-gradient(
    to left,
    violet,
    indigo,
    blue,
    green,
    yellow,
    orange,
    red
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
