@import url("https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@400;700&display=swap");

body {
  min-height: 100vh;
  min-width: 100vw;
  background: linear-gradient(180deg, #202b8a 0%, #8ad4e6 100%);
  font-family: "Arima Madurai", cursive;
  color: #000000;
  margin: 0;
  padding: 0;
}

input {
  background-color: #f3f3f3;
  border: 1px solid #000000;
  border-radius: 12px;
}

input::placeholder {
  color: #0000009b;
}
